<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Form Lab</title>
</head>
<body>
	<h3>Tambah Penanganan Laboraturium</h3>
			<br>
			<div th:fragment = "formLab">
			<form th:action="@{/rawat-jalan/pasien/penanganan/tambah}" id="formLab" th:object="${penanganan}" method="POST">
				<table>
					<tr>
						<td width="200" height="50" th:text="'Id Pasien Rawat Jalan'"></td>
						<td th:text="${id_rujukan_rawat_jalan}"></td>
					</tr>
					<tr>
						<td><label for="waktu" height="50">Waktu</label></td>
						<td><input type="datetime" required="required" name="waktu" th:value="${waktu}"/></td>
					</tr>		
					<tr>
            		<td><label for="Jenis Pemeriksaan">Jenis Pemeriksaan</label></td>
          			  <td>
                    	<select  class="form-control" required="required" name="pemeriksaan" id="pemeriksaan" th:value="*{penanganan.jenis_pemeriksaan.nama}" form="pemeriksaanForm">
                        <option th:each="pemeriksaan : ${listPemeriksaan}" th:value="${pemeriksaan.id}" th:text="${pemeriksaan.nama}"></option>
                    </select>
           			 </td>
       				 </tr>
					<tr>
						<td height="50">Deskripsi</td>
						<td><input type="text"  required="required"name="deskripsi" th:value="*{deskripsi}" /></td>
					</tr>
				</table>
				<br>
   				<button type="submit" class="btn btn-primary">Submit</button>
   			</form>
   			</div>
</body>
</html>