<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Home</title>
	
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						Ubah Status Pasien
					</div>
					<form th:action="@{/rawat-jalan/pasien/ubah}" th:object="${pasien}" method="POST">
						<div class="card-body">
							<label>Ubah Status:</label>
								<input hidden th:field="*{id}" th:value="*{id}">
								<input hidden th:field="*{idPasien}" th:value="*{idPasien}">
								<input hidden th:field="*{namaPasien}" th:value="*{namaPasien}">
								<input hidden th:field="*{tanggalRujuk}" th:value="*{tanggalRujuk}">
								<input hidden th:field="*{jadwalPoli}" th:value="*{jadwalPoli}">
								<input hidden th:name="statusLama" th:value="${statusLama}">
								
								
								<select  class="form-control" required="required" th:field="*{status}" th:value="*{status}" name=status>
							     	<option value=1 >Mendaftar Poli</option>
							     	<option value=2>Berada di Poli</option>
							     	<option value=3>Selesai</option>
						    	</select>
							<p></p>
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</form>
				</div>
			</div>
	
</body>


</html>

<script th:inline="javascript">
 var message = /*[[${message}]]*/ 'default';
 if (message!=null){
  alert(message);
 }
</script>

