<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <div class="container"	>
	    <h1 id="title">
		 	Sistem Informasi Rawat Jalan.
		 </h1>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style = "border : none; box-shadow: 0px 4px 4px #C4C4C4;">
                    <div class="card-header" style = "background: #7B1AF0; color : white;">
                        Log In
                    </div>
                    <div class="card-body" id = "form-login">
                        <div th:if="${param.error}">
                            <span style="color: red">Invalid username or password</span>
                        </div>
                        <form th:action="@{/login}" method="POST">
                            <div class="row form-group">
                                <label class="col-sm-4">Username:</label>
                                <input type="text" class="col-sm-8 form-control input-sm" name="username">
                            </div>
                            <div class="row form-group">
                                <label class="col-sm-4">Password:</label>
                                <input type="password" class="col-sm-8 form-control input-sm" name="password">
                            </div>
                            <div class="row form-group" style = "text-align">
                                <button type="submit" class="btn btn-primary">Sign In</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id = "gambar">
    
    </div>
</body>

<style>
	#title{

		height: 47px;
		
		top: 30px;
		
		font-family: Roboto;
		font-style: normal;
		font-weight: 900;
		line-height: normal;
		font-size: 30px;
		
		color: #374050;
	}
	
	#about-us{
		
		width: 124px;
		height: 36px;
		top: 35px;
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		font-size: 20px;
		text-align: right;
		
		color: #374050;
		
	}
	
	

</style>
</html>