<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>View Pasien</title>
</head>

<body>
	
	<div class="container-fluid">
		<div class="col-md-8">
			<br>
			<h2 th:text=" 'Detail Pasien '"></h2>
			<br>
			<table class="table">
				<tbody>
					<tr>
						<td th:text="'Id Pasien'"></td>
						<td th:text="1"></td>
					</tr>
					<tr>
						<td th:text="'Nama Pasien'"></td>
						<td th:text="Nurhikmah Ilmi"></td>
					</tr>
					<tr>
						<td th:text="'Poli'"></td>
						<td th:text="'apaya'"></td>
					</tr>
					<tr>
						<td th:text="'Jadwal'"></td>
						<td th:text="'.....'"></td>
					</tr>
					<tr>
						<td th:text="'Tanggal Rujukan'"></td>
						<td th:text="'.......'"></td>
					</tr>
					<tr>
						<td th:text="'Status'"></td>
						<td th:text="'.......'"></td>
					</tr>
				</tbody>		
			</table>			
			</div>

	</div>
     

</body>

</html>