<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>View Pasien</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>

</head>

<body>
	
	<div class="container-fluid">
		<div class="col-md-8">
			<br>
			<h2 th:text=" 'Detail Pasien '"></h2>
			<br>
			<table class="table">
				<tbody>
					<tr>
						<td th:text="'Id Pasien'"></td>
						<td th:text="${rujukan.idPasien}"></td>
					</tr>
					<tr>
						<td th:text="'Nama Pasien'"></td>
						<td th:text="${rujukan.namaPasien}"></td>
					</tr>
					<tr>
						<td th:text="'Poli'"></td>
						<td th:text="${rujukan.jadwalPoli.poli.nama}"></td>
					</tr>
					<tr>
						<td th:text="'Jadwal'"></td>
						<td th:text="${rujukan.jadwalPoli.tanggal}"></td>
					</tr>
					<tr>
						<td th:text="'Tanggal Rujukan'"></td>
						<td th:text="${rujukan.tanggalRujuk}"></td>
					</tr>
					<tr>
						<td th:text="'Status'"></td>
						<td th:text="${status}"></td>
					</tr>
				</tbody>		
			</table>			
			</div>

	</div>
	
		<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						Tambah Penanganan
					</div>
					<form th:action="@{/rawat-jalan/pasien/1}" th:object="${pasien}" method="POST">
						<div class="card-body">
							<label>Jenis Penanganan:</label>
								<select  class="form-control" required="required" th:name="penanganan">
							     	<option value="Obat" >Obat </option>
							     	<option value="Pemeriksaan Lab">Pemeriksaan Lab</option>
						    	</select>
							<p></p>
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</form>
				</div>
			</div>
			

     

</body>

</html>