<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Melihat Riwayat Penanganan</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
		<script type="text/javascript" charset="utf8" src="	https://code.jquery.com/jquery-3.3.1.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
	</head>
	<body>
		<br>
		<table id="penanganan">
		    <thead>
		        <tr>
		            <th>Id Pasien</th>
		            <th>Nama Pasien</th>
	           	  	<th>Poli</th>
	           	  	<th>Waktu</th>
	           	  	<th>Jenis Penanganan</th>
	           	  	<th>Deskripsi</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each = "penanganan: ${listPenanganan}">
		            <td th:text="${penanganan.rujukanRawatJalan.idPasien}"></td>
          		    <td th:text="${penanganan.rujukanRawatJalan.namaPasien}"></td>
          		    <td th:text="${penanganan.rujukanRawatJalan.jadwalPoli.poli.nama}"></td>
         		    <td th:text="${penanganan.waktu}"></td>
         		    <td th:text="${penanganan.obat} ? ${penanganan.obat.nama} : 'Pemeriksaan Lab'"></td>
         		    <td th:text="${penanganan.deskripsi}"></td>
		        </tr>
		    </tbody>
		</table>
	</body>
	<script>
			$(document).ready(function () {
			    $('#penanganan').DataTable();
			});	
	</script>
</html>